<a href="https://colab.research.google.com/github/nachi0106/Python-Workshop/blob/master/Day1_Session2_Exercise_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a program to print the triangle

In [ ]:
k=1
n=int(input("enter n value: "))
for i in range(0,n):
  if(i>=2):
    k=i+1
  for j in range(0,i+1):
    print(k,end=" ")
    k=k+1
  print()

enter n value: 4
1
2 3
3 4 5
4 5 6 7

# python program to print pattern

In [ ]:
rows =int(input("enter num: "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

enter num: 4
*
* *
* * *
* * * *

# pattren program

In [ ]:
k=4
n=int(input("enter n value: "))
for i in range(n+1,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
    
    
  print()

enter n value: 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

# pattern program

In [ ]:
rows = int(input("enter num : "))
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

enter num : 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# pattern program

In [ ]:
rows = 5
n=rows-1
for i in range(1, rows-1):
    for j in range(i,rows):
        print(j,end=" ")
    print()
for i in range(n+1,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4

4
3 4
2 3 4
1 2 3 4

# Find the length of a string without using len functions

In [ ]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: hello
Length of the input string is: 5

#Find the no of words and characters in a string

In [ ]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:python program
Number of words in the string:
2
Number of characters in the string:
14

# Find the no of occurrences of each word in a string

In [ ]:

def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}